@column-num: 61;
@row-num: 25;
@gap-size: 0px;
@tooltip-bg: #000;
@tooltip-font-color: #fff;
@border-color: #f0f0f0;
@border-shadow-color: rgba(0, 0, 0, 0.3);
@index-not-hover: rgba(0, 0, 0, 0.2);
@index-hover: rgba(0, 0, 0, 1);
@general-transition: all 0.3s ease;
@time-picker-bg: #fff;
@cell-border-color: #fff;
.time-picker-wrapper {
    display: flex;
    flex-direction: column;
    padding: 5px;
    box-shadow: 0 0 10px @border-shadow-color;
    border: 1px solid @border-color;
    border-radius: 4px;
    position: absolute;
    overflow: auto;
    will-change: opacity; // spawn a new graphic layer
    background-color: @time-picker-bg;
    .header {
        flex: 0;
        display: flex;
        text-align: center;
        box-sizing: border-box;
        padding: 5px 0;
        border-bottom: 1px solid @border-shadow-color;
        .header-icon {
            flex: 0 0 2em;
            & > img {
                width: 100%;
            }
        }
        .header-current-time {
            font-size: 2em;
            flex: 1;
        }
        .clear {
            flex: 0;
            font-size: 2em;
            width: 2em;
            padding-right: 0.5em;
            cursor: pointer;
            font-weight: inherit;
        }
        .clear:hover {
            font-weight: bold;
        }
    }
    .container {
        flex: 1;
        display: grid;
        grid-template-columns: repeat(@column-num, 1fr);
        grid-template-rows:  repeat(@row-num, 1fr);
        gap: @gap-size;
        place-items: center center;
        .index {
            width: 100%;
            height: 100%;
            text-align: center;
            box-sizing: border-box;
            color: @index-not-hover;
        }
        .index-hover {
            .index();
            color: @index-hover;
        }
        .cell {
            box-sizing: border-box;
            border: 1px solid @cell-border-color;
            background-color: var(--cell-e313afea-95c8-4227-812f-7606571bd6a6);
            width: 100%;
            height: 100%;
            position: relative;
            cursor: pointer; 
            &:hover {
                background-color: var(--cell-selected-e313afea-95c8-4227-812f-7606571bd6a6);
            }
            & .before {
                visibility: hidden;
                opacity: 0;
                content: attr(data-tooltip);
                position: absolute;
                bottom: calc(100% + 0.2em); // calculate rectangle position relative to arrow
                padding: 5px;
                background-color: @tooltip-bg;
                color: @tooltip-font-color;
                border-radius: 2px;
                left: 50%;
                transform: translateX(-50%);
            }
            &:hover .before {
                opacity: 1;
                transition: @general-transition;
                visibility: visible;
            }
            & .after {
                width: 0;
                height: 0;
                position: absolute;
                border-style: solid;
                border-width: 0.4em;
                content: '';
                border-color: transparent @tooltip-bg @tooltip-bg transparent;
                visibility: hidden;
                opacity: 0;
                transform: translateX(-50%) rotate(45deg) ;
                bottom: 100%;
                left: 50%;
            }
            &:hover .after {
                opacity: 1;
                transition: all .3s ease;
                visibility: visible;
            }
            &:active {
                transform: scale(0.7);
                transition: @general-transition;
            }
        }
        .cell-selected {
            .cell();
            background-color: var(--cell-selected-e313afea-95c8-4227-812f-7606571bd6a6);
            & .before {
                visibility: visible;
                opacity: 1;
            }
            & .after {
                visibility: visible;
                opacity: 1;
            }
        }
        .cell-included {
            .cell();
            background-color: var(--cell-included-e313afea-95c8-4227-812f-7606571bd6a6);
        }
    }
    .mask {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(1, 1, 1, 0.6);
        .confirm {
            display: flex;
            flex-direction: column;
            width: 50%;
            background-color: white;
            position: absolute;
            top: 50%;
            left: 50%;
            border: 1px solid transparent;
            border-radius: 2px;
            transform: translate(-50%,-50%);
            .confirm-title {
                flex: 0 0 4em;
                padding: 5px;
                display: flex;
                align-items: center;
                border-bottom: 1px solid @border-color;
                .confirm-title-image {
                    flex: 0 0 2em;
                    & > img {
                        width: 100%;
                    }
                }
                .confirm-title-hint {
                    flex: 1;
                    margin-left: 5px;
                    font-size: 2em;
                }
            }
            .confirm-time {
                flex: 1;
                font-weight: bold;
                font-size: 4em;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0.5em 0 0.5em 0;
            }
            .confirm-select {
                display: flex;
                justify-content: flex-end;
                margin-right: 10px;
                margin-bottom: 10px;
                & > button {
                    width: 6em;
                    height: 3em;
                    margin: 0 5px;
                } 
            }
        }
    }
}


:global {
    
}